

input{
    margin: 5px 0;
    padding: 5px;
    font-size: 12px;
}
button{
    padding: 3px 8px;
    color: white;
    background-color: black;
    border-radius: 3rem;
    outline: none;
}
button:hover{
    cursor: pointer;
}